<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>  !!</h1>
      <p>In  <i class="fas fa-book"></i><strong>Bookers</strong>, </p>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="wa05_heading--left" data-entrydesign-alignment="left" data-entrydesign-count-input="part" data-entrydesign-part="wa05_heading--left" data-entrydesign-tag="h2" data-entrydesign-type="heading" data-entrydesign-ver="1.54.1" style="display:flex;margin:4px;font-weight:bold;color:#333333;text-align:left;letter-spacing:0.01em;font-size:20px;line-height:1.4;min-height:28px;line-break:anywhere;justify-content:flex-start"><span style="display:block;min-width:152px;background:url(https://stat100.ameba.jp/ameblo/entry_designs/v1/sources/assets/wa05_heading_line01.png) no-repeat;background-size:152px 8px;background-position:left top;padding-top:24px"><span style="display:block;min-width:152px;background:url(https://stat100.ameba.jp/ameblo/entry_designs/v1/sources/assets/wa05_heading_line02.png) no-repeat;background-size:152px 8px;background-position:left bottom;padding-bottom:24px"><span data-entrydesign-content="" style="display:block;width:100%">MEMO</span></span></span></h2>

<div class="wa06_block" data-entrydesign-count-input="part" data-entrydesign-part="wa06_block" data-entrydesign-tag="div" data-entrydesign-type="block" data-entrydesign-ver="1.54.1" style="position:relative;width:343px;max-width:100%;margin:32px auto;color:#333;text-align:center"><span class="amp-nodisplay" contenteditable="false" role="presentation" style="position:absolute;box-sizing:border-box;top:-24px;display:block;width:100%;font-size:0;height:24px;border-bottom:24px solid #f7f7f7;border-left:24px solid transparent">&nbsp;</span><span class="amp-nodisplay" contenteditable="false" role="presentation" style="position:absolute;top:0;left:0;display:block;width:2px;height:46px;background-color:#CACACA;transform:rotate(45deg) translate(-17px, -32px)">&nbsp;</span><span class="amp-nodisplay" contenteditable="false" role="presentation" style="position:absolute;box-sizing:border-box;bottom:-24px;display:block;width:100%;font-size:0;height:24px;border-top:24px solid #f7f7f7;border-right:24px solid transparent">&nbsp;</span><span class="amp-nodisplay" contenteditable="false" role="presentation" style="position:absolute;bottom:0;right:0;display:block;width:2px;height:46px;background-color:#CACACA;transform:rotate(45deg) translate(17px, 32px)">&nbsp;</span>
<div data-entrydesign-content="" style="padding:4px 8px;background-color:#f7f7f7;font-size:16px;line-height:1.4;min-height:22px;line-break:anywhere">
<p style="text-align: left;">## 用語の意味</p></div></div>
<p>&nbsp;</p>
<p>&nbsp;</p>